<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>
        <!-- ERROR LOG -->
        <RollingFile name="ErrorFile"
                     fileName="/var/log/jdbcConnection/error.log"
                     filePattern="/var/log/jdbcConnection/$${date:yyyy-MM}/spring-boot-logger-log4j2-%d{-dd-MMMM-yyyy}-%i-error.log" append="true">
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy interval="5" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="30" />
        </RollingFile>

        <!-- INFO LOG -->
        <RollingFile name="InfoFile"
                     fileName="/var/log/jdbcConnection/info.log"
                     filePattern="/var/log/jdbcConnection/$${date:yyyy-MM}/spring-boot-logger-log4j2-%d{-dd-MMMM-yyyy}-%i-info.log" append="true">
            <Filters>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy interval="5" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="30" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="ErrorFile" />
            <AppenderRef ref="InfoFile" />
        </Root>

        <Logger name="com.atdxt.JpaConnection" level="error">
            <AppenderRef ref="ErrorFile" />
        </Logger>
    </Loggers>

</Configuration>
